@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Quicksand", sans-serif;
    height: 100%;
    background: linear-gradient(to left, #74ebd5, #7FABEC);
}

button,
input,
textarea,
select {
    font-family: "Quicksand", sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: "Quicksand", sans-serif;
}


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: "Quicksand", sans-serif;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
